@import 'src/shared/styles/scss/shared';

.logo {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  &-text {
<<<<<<< HEAD
    @include font-source-sans(24px, white, 900)
    }
=======
    @include font-source-sans(24px, white, 900);
  }
>>>>>>> main
}
