@import '../../_achievements.variables';

.noTournamentItems {
    width: 100%;
    border-radius: 15px;
    background: $BACKGROUND-THIRD;
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $COLOR-SECONDARY;
    font-size: 12px;

    p {
        width: 40%;
        line-height: 16px;
    }
}

.button {
    box-sizing: border-box;
    padding: 11px 25px;
}
