@import "src/shared/styles/scss/shared";

.noTournamentItems {
    border-radius: $border-radius;
    background-color: $background-color--third;
    padding: 16px;
    @include flex (space-between, center);
    &__text {
        @include font-source-sans(50px, false, false, 16px);
    }
}


