@import "src/shared/styles/scss/shared";

.file {
    &-field {
        display: none;
    }

    &-container {
        display: inline-block;
    }

    &-label {
        height: 85px;
        width: 85px;
        border-radius: 20px;
        display: inline-block;
        background-color: #252A48;
        color: #747BAA;
        text-align: center;
        cursor: pointer;
        font-size: 30px;
        line-height: 85px;
    }
}
