@import "src/shared/styles/scss/shared";

.teamPage {
    background-color: $third-color;
    flex: 0 0 100%;
    padding: 20px 0;

    &__content {
        @include flex ();
        flex-wrap: nowrap;
    }
}
