@import "src/shared/styles/scss/shared";

.team {
    margin-bottom: 20px;

    &__block{
        border-radius: $block-border-radius;
        background-color: $primary-color;
        padding: 20px;
        max-width: 540px;
        @include flex(flex-start, center);
    }
    &__logo{
        border-radius: $block-border-radius;
        width: 85px;
        height: 85px;
        margin-right: 15px;
    }
    &__info {
        @include flex(center, stretch);
        flex-direction: column;
        flex-grow: 1;
    }
    &__nameWrapper{
        @include flex(space-between, center);
        margin-bottom: 20px;
    }
    &__name {
        @include font-source-sans(14px, #ffffff, 700);
    }
    &__statistic {
        @include flex(space-between, center);
    }
    &__statisticItem {
        margin-right: 5px;
    }
    &__statisticTitle {
        @include font-source-sans(12px, #747baa);
        display: block;
        text-align: center;
        margin-bottom: 5px;
    }
    &__statisticValue{
        @include font-source-sans(18px, #ffffff, 700);
        display: block;
        text-align: center;
    }
    &__button{
        border: none;
        padding: 5px;
    }
}

