@import '../../styles/config.scss';

.title-style {
  color: $text-color--main;
  font-weight: bold;
  margin: 40px 0;
  font-family: $font-main;
}

.enticing-banner{
  &--container {
    background: $background-color--secondary;
    border-radius: $border-radius;
  }

  &--bg {
    height: 257px;
    background-image: url('https://res.cloudinary.com/dk88eyahu/image/upload/v1607024028/useTeam/backgrounds/enticing-banner/bg_EnticingBanner_u71mds.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: $border-radius;
    @include flex(space-evenly);
  }
  &--advantage {
    height: 257px;
    background-image: url('https://res.cloudinary.com/dk88eyahu/image/upload/v1607619930/useTeam/backgrounds/advantage-banner/bg_AdvantageBanner_td3kdi.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: $border-radius;
    @include flex(space-evenly);
  }

  &--description {
    height: 120px;
    @include flex(space-between);
    margin: 0 40px;
  }

  &--enticingText {
    color: $text-color--main;
    font-weight: bold;
    font-family: $font-main;
    font-size: 24px;
    margin: 0;
  }
}