@import 'src/shared/styles/scss/style.scss';
.form {
  @include flex();
  border-radius: $block-border-radius;
  background-color: $primary-color;
  padding: 20px;
  max-width: 450px;
  //max-height: 180px;
}
.formItem {
  @include flex(center, center);
  margin-bottom: 15px;
}
.formCharge {
  @include font-source-sans(18px, $secondary-color, 700);
  margin: 10px 30px;
}
.formChargeLogo {
  margin-right: 5px;
  width: 7px;
  height: 18px;
  fill: none;
}
.formChargeSvg {
  fill: $secondary-color;
}
