@import "src/shared/styles/scss/shared";

.bar {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: Roboto;
    .partner {
        margin-bottom: 20px;
        .text {
            @include font-source-sans(18px, rgba(137, 136, 182, 0.5), 400);
            margin-bottom: 15px;
        }
        img {
            width: 250px;
        }
    }
    .notActive {
        opacity: 30%;
    }
}
.img {
    &__main_partner {
        border-radius: 15px;
        width: 100%;
        height: auto;
    }
    &__sub_partner {
        border-radius: 15px;
        width: 100%;
        max-height: 120px;
        margin-bottom: 20px;
    }
}


