.bar {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: Roboto;
    .partner {
        margin-bottom: 20px;
        .text {
            font-size: 18px;
            color: rgba(137, 136, 182, 0.5);
            margin-bottom: 15px;
        }
    }
    .notActive {
        opacity: 30%;
    }
}

