@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$FONT: 'Roboto', sans-serif;

$COLOR-PRIMARY: #FFF;
$COLOR-SECONDARY: #747BAA;
$COLOR-THIRD: #8B79FF;

$COLOR-BUTTON: #567EF7;
$BACKGROUND-BUTTON: #8B79FF;
$BACKGROUND-BUTTON--HOVER: #745FF8;

$BACKGROUND-PRIMARY: #252A48;
$BACKGROUND-SECONDARY: #2D3357;
$BACKGROUND-THIRD: #364886;
