@import '../user.variables';

.steamContainer {
  width: 270px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $BACKGROUND-SECONDARY;
  border-radius: 15px;
  color: $COLOR-SECONDARY;
  font-size: 15px;
  margin-bottom: 10px;
}

.steamContainer img {
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.steamContainer.connected {
  color: $COLOR-THIRD;
}

.steamContainer.connected img {
  display: none;
}
