//waiting for SCSS-shared

.form-text-label {
    display: block;
    color: black;
}

.form-text-field {
    color: white;
    background-color: #252A48;
    border-radius: 5px;
    border: none;
}

.form-radio-container {
    display: inline-block;
}
