@import "src/shared/styles/scss/shared";

.no_match_page {
    background-color: $third-color;
    flex-direction: column;
    @include font-source-sans(50px, #FFFFFF, 700);
    @include flex (center, center);
}
