@function getJustify($arg){
    $justify: (
        'fs': flex-start,
        'fe': flex-end,
        'c': center,
        'sb': space-between,
        'sa': space-around,
    );

    @each $key, $value in $justify{
        @if($key == $arg){
            @return $value;
        }
    }
}

@function checkAlign($arg){
    $align: (
        'fs': flex-start,
        'fe': flex-end,
        'c': center,
        'b': baseline,
        's': stretch,
    );

    @each $key, $value in $align{
        @if($key == $arg){
            @return $value;
        }
    }
}
