$primary-color: #2D3357; //content blocks
$secondary-color: #745FF8; //buttons
$third-color: #252A48; //background

$block-border-radius: 15px;

$breakpoints: (
  "phone": 320px,
  "tablet": 768px,
  "desktop": 1024px,
);

$border-radius: 15px;

/*FONTS*/
$font-main: 'Mukta Vaani', sans-serif;
/*BACKGROUND COLOR*/
$background-color--main: #26254f;
$background-color--secondary: #2c2b5f;
$background-color--third: #35346c;

/*BORDER-RADIUS*/

$border-radius: 15px;

/*TEXT COLOR*/
$text-color--main: #fff;
$text-color--secondary: #cac9ef;
$text-color--third: #8988b6;
$text-color--win: #99e47f;
$text-color--def: #f65164;
$text-color--error: #f65164;


