@import 'reset';
@import 'shared';

.container {
  max-width: 1260px;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 -15px;
}

@for $i from 1 through 12 {
  .column-#{$i} {
<<<<<<< HEAD
    flex-basis: (100 / (12 / $i) ) * 1%;
=======
    flex-basis: (100 / (12 / $i)) * 1%;
>>>>>>> main
    padding: 0 15px;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
<<<<<<< HEAD
=======
}

html,
body,
#root {
    height: 100%;
}

.app {

    &-wraper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    &-content {
        flex: 1 0 auto;
        display: flex;
    }

    &-footer, &-navbar {
        flex: 0 0 auto;
    }
>>>>>>> main
}
