
/*BACKGROUND COLOR*/
$background-color--main: #26254F;
$background-color--secondary: #2C2B5F;
$background-color--third: #35346C;

/*BUTTON-COLORS*/
$button-background--primary: #745FF8;
$button-background--yellow: #D99A51;


/*TEXT COLOR*/
$text-color--main: #fff;
$text-color--secondary: #CAC9EF;
$text-color--third: #8988B6;
$text-color--win: #99E47F;
$text-color--def: #F65164;
$text-color--error: #F65164;

/*Z-INDEX*/
$z-index--negative: -1;
$z-index--low: 1;
$z-index--middle: 2;
$z-index--top: 3;

/*TRANSITION*/
$transition--main: all .4s ease;
$transition--slow: all .6s ease;
$transition--fast: all .2s ease;

/*FONTS*/
$font-main: 'Mukta Vaani', sans-serif;


