@import "src/shared/styles/scss/shared";

.sidebar {
    background-color: transparent;

    &-container {
        background-color: $primary-color;
        border-radius: 15px;
        padding: 20px 20px 40px 20px;
        margin-bottom: 20px;
    }
}
