@import '../../../../styles/config.scss';

.enticing-banner--unitContainer{
    @include flex(space-evenly, column);
    width: 270px;
    height: 170px;
    background: rgba(54, 72, 134, 0.6);
    border-radius: $border-radius;
    padding: 0 4%;
}
.enticing-banner--unitDescription{
    margin: 0;
    color:#8988B6
}