@import "../../../../../../shared/styles/scss/variables.scss";

.title-style{
    color:$text-color--main;
    font-weight:bold;
    margin:40px 0;
    font-family: $font-main;
}

.enticing-banner--container{
    background: $background-color--secondary;
    border-radius: $border-radius;
}

.enticing-banner--bg{
    height: 257px;
    background-image: url('https://res.cloudinary.com/dk88eyahu/image/upload/v1607024028/useTeam/backgrounds/enticing-banner/bg_EnticingBanner_u71mds.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: $border-radius;
}

.enticing-banner--description{
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px;
}

.enticing-banner--enticingText{
    color:$text-color--main;
    font-weight:bold;
    font-family: $font-main;
    font-size: 24px;
    margin: 0;
}
