@import '../../_achievements.variables.scss';

.tournamentItem {
    border-radius: $border-radius;
    background-color: $background-color--third;
    padding: 16px;
    @include flex (space-between, center);

}


.firstWrapper {
    display: flex;

    img {
        width: 45px;
        height: 45px;
        border-radius: 10px;
        margin-right: 9px;
    }
}

.textWrapper {
    display: flex;
    flex-direction: column;

    span:first-of-type {
        font-size: 14px;
        line-height: 24px;
    }

    span:last-of-type {
        font-size: 15px;
        color: $COLOR-SECONDARY
    }
}

.secondWrapper span {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: $COLOR-THIRD;
    font-weight: 700;
}


