@import 'src/shared/styles/scss/style.scss';

.team {
  margin-bottom: 20px;
}
.teamBlock {
  border-radius: $block-border-radius;
  background-color: $primary-color;
  padding: 15px;
  max-width: 540px;
  @include flex(flex-start, center);
}

.teamLogo {
  border-radius: $block-border-radius;
  width: 85px;
  height: 85px;
  margin-right: 15px;
}
.teamInfo {
  @include flex(center, stretch);
  flex-direction: column;
  flex-grow: 1;
}
.teamNameWrapper {
  @include flex(space-between, center);
  margin-bottom: 20px;
}
.teamName {
  @include font-source-sans(14px, #ffffff, 700);
}
.teamBtnEdit {
  border: none;
  @include font-source-sans(12px, #567ef7, 400);
  text-transform: uppercase;
  background-color: transparent;
}

.teamStatistic {
  @include flex(space-between, center);
}
.teamStatisticItem {
  margin-right: 5px;
}
.teamStatisticTitle {
  @include font-source-sans(12px, #747baa);
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
.teamStatisticValue {
  @include font-source-sans(18px, #ffffff, 700);
  display: block;
  text-align: center;
}
