@import '../../_editUser.variables.scss';

.showPassword {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  cursor: pointer;
  opacity: 0.3;
  user-select: none;
  svg g {
    fill: $COLOR-SECONDARY;
  }
}
