@import "src/shared/styles/scss/shared";

.modal {
    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.6);
        @include flex(center, center);
    }

    &-container {
        background-color: $primary-color;
        border-radius: 15px;
        position: relative;
        padding: 30px 40px;
    }

    &-close-btn {
        @include font-source-sans (15px, #747BAA, 700);
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }
}
