@import "src/shared/styles/scss/shared";

.heading {
  &-page {
    @include font-source-sans(28px, #FFFFFF, 700);
    margin-bottom: 20px;
  }

  &-section {
    @include font-source-sans(28px, #FFFFFF, 700);
    margin: 40px 0;
    text-align: center;
  }

  &-block {
    @include font-source-sans(18px, #747BAA, 400);
    margin-bottom: 10px;
  }
}


