@import 'src/shared/styles/scss/style.scss';

.submit {
  background: $secondary-color;
  @include font-source-sans(15px, #ffffff, 700);
  border-radius: 5px;
  padding: 11px 20px;
  text-transform: uppercase;
  border: none;
}
