@import "src/shared/styles/scss/shared";

.sidebar_partners {
    &__title {
        @include font-source-sans(18px, #8988B6, 400);
        margin-bottom: 10px;
    }

    &__main_partner {
        border-radius: 15px;
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }

    &__sub_partner {
        border-radius: 15px;
        width: 100%;
        max-height: 120px;
        margin-bottom: 20px;
    }
}
