@import "src/shared/styles/scss/shared";

.balance{
  padding: 17px 19px;
  background: $primary-color;
  border-radius: $border-radius;
    @include flex (center,center);
  margin-bottom: 10px;
    &__item{
        @include font-source-sans(25px, #ffffff, 700);
        @include flex (space-around,center);
        width: 50%;
    }
    &__charge{
        color: #8B79FF;
    }
    &__button {
        padding: 10px 15px;
    }
}


//.balanceItem span {
//  margin-right: 20px;
//}
//
//.balanceItem svg {
//  margin-right: 4px;
//}
//
//.balanceItem button {
//
//  &:hover {
//    background: #8B79FF;
//  }
//
//  &:focus {
//    border: none;
//    outline: none;
//  }
//}
