@import "src/shared/styles/scss/shared";

.overview {
    &__container {
        background-color: $primary-color;
        padding: 15px 15px;
        border-radius: $border-radius;
        margin-bottom: 15px;
    }
    &__title {
        display: grid;
        grid-template-columns: repeat(4, 1fr) 2fr 1fr;
        text-align: center;
        @include font-source-sans(12px, #747BAA, 400);
        margin-bottom: 5px;
    }
    &__columns {
        display: grid;
        grid-template-columns: repeat(4, 1fr) 2fr 1fr;
        text-align: center;
    }
    &__prize {
        padding-left: 2px;
        @include font-source-sans(18px, #8B79FF, 700)
    }
    &__cell_text {
        @include font-source-sans(18px, white, 700);
    }
}
.dollar path {
    fill: #8B79FF;
}
