@import "src/shared/styles/scss/shared";

.page {
    background-color: $third-color;
    flex: 0 0 100%;
    padding: 20px 0;
}

.content {
    @include flex ();
    flex-wrap: nowrap;
}

.loader {
    @include flex (center, center);
    height: 400px;
}
