@import "../../../../shared/styles/scss/variables.scss";

.user-player-page {
  background: $background-color--main;
  padding-left: 60px;
  color: $text-color--main;
}

.user-player-page__user-name {
  font-weight: bold;
  font-size: 25px;
  padding-top: 30px;
}

.user-player-page__page-description {
  font-size: 20px;
  color: $text-color--third;
}
