@import "../../achievements.variables";



.achivements {
    font-family: $FONT;
    background: $BACKGROUND-PRIMARY;
    width: 315px;
    color: $COLOR-PRIMARY;
    padding: 20px;
}

.title {
    color: $COLOR-SECONDARY;
    font-size: 24px;
    margin-bottom: 39px;
}

.container {
    width: 100%;
    background: $BACKGROUND-SECONDARY;
    padding: 22px;
    box-sizing: border-box;
    border-radius: 15px;
}

.subTitle {
    color: $COLOR-SECONDARY;
    font-size: 18px;
    margin-bottom: 11px;
}
