@import "src/shared/styles/scss/shared";

.partnerContainerOverview {
    width: 600px;

}
.partnerContainer {
    box-sizing: border-box;
    padding: 27px 19px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    background: #2D3357;
}
.partnerTextWrapper {
    display: flex;
    flex-direction: column;
}
.partnerText {
    color: #fff;
}

.partnerTextItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: unset!important;
    font-family: Roboto, sans-serif;
    padding: 0 0 20px 20px;
}

.partnerTextItem span:first-of-type {
    font-size: 14px;
    color: #747BAA;
    padding-bottom: 5px;
}

.partnerTextItem span:last-of-type {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.partnerMoreInfo {
    display: flex;
    justify-content: left;
}

.editProfileButton {
    color: #747BAA;
    border: none;
    outline: none;
    font-size: 14px;
    background: none;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}
