@import "src/shared/styles/scss/shared";

.teammates {
    margin-bottom: 20px;
    max-width: 764px;
    &__btn{
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.teammate {
    margin: 10px 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;

    &__item {
        @include flex(space-between, center);
        flex-wrap: nowrap;
        max-width: 110px;
        @include font-source-sans(15px, #747baa, 400);
    }
    &__avatar {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        margin-right: 8px;
        @include font-source-sans(15px, #747baa, 400);
    }
    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include font-source-sans(15px, #ffffff, 400);
    }
    &__btnKick {
        @include font-source-sans(12px, #e45d68, 400);
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        border-radius: $border-radius
    }
    &__btnKick:hover{
        outline: 1px solid #747baa;
        cursor: pointer;
    }
    &__btnKick:focus{
        outline: none;
        cursor: pointer;
    }
}
