@import "../../styles/scss/variables";

.button {
  padding: 13px 17px;
  min-width: 125px;
  color: $text-color--main;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  border-radius: 15px;
  background: $button-background--primary;
  border: none;
  outline: none;
  transition: $transition--fast;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.button-yellow {
  background: $button-background--yellow;
}


